<launch>

  <node name="lsd_slam_core" pkg="lsd_slam_core" type="live_slam" output="screen"  >
    <remap from="/image" to="/usb_cam/image_raw" />
		<!-- <remap from="/camera_info" to="/usb_cam/camera_info" /> -->
    <param name="calib" value="/home/fradelg/dev/rec3d/data/lsd-creative_hd_webcam-atan.cfg" />
  </node>

  <node name="lsd_slam_viewer" pkg="lsd_slam_viewer" type="viewer" output="screen" />

</launch>
